# Information from Kaggle

The following information is directly copied from this dataset's <a href='https://www.kaggle.com/matheusfreitag/gas-prices-in-brazil' target='_blank'>Kaggle Page</a>.

<h2>The Data</h2>

<p>The National Agency of Petroleum, Natural Gas and Bio fuels (<em>ANP</em> in Portuguese) releases weekly reports of gas, diesel and other fuels prices used in transportation across the country. These datasets bring the mean value per liter, number of gas stations analyzed and other information grouped by regions and states across the country.</p>

<h2>Source</h2>

<p>As stated before, these datasets are provided by ANP, and are regularly updated with new dates and information - which can be retrieved <a href="http://www.anp.gov.br/precos-e-defesa-da-concorrencia/precos/levantamento-de-precos/serie-historica-do-levantamento-de-precos-e-de-margens-de-comercializacao-de-combustiveis" rel="nofollow">here</a> (in portuguese).</p>

<h2>What can be done with this?</h2>

<ul>
<li>How different regions of Brazil saw their gas prices change?</li>
<li>Within a region, which states increased more their prices?</li>
<li>Which states are the cheapest (or most expensive) for different types of fuels?</li>
</ul>

<a href='https://www.kaggle.com/matheusfreitag/gas-prices-in-brazil' target='_blank'>Kaggle Link</a>

# Importing the libraries

In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%matplotlib inline
sns.set()

# Ignoring warnings
warnings.simplefilter('ignore')

Loading the dataset into a pandas dataframe.

In [2]:
data = pd.read_table('2004-2019.tsv', parse_dates=[1, 2])
df = data.copy()

df.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Data Wrangling

## Deleting the unneccesary column "Unnamed: 0"

In [3]:
df.drop(axis=1, columns=['Unnamed: 0'], inplace=True)
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

## Renaming the column names from portuguese to English

In [4]:
list(df.columns)

['DATA INICIAL',
 'DATA FINAL',
 'REGIÃO',
 'ESTADO',
 'PRODUTO',
 'NÚMERO DE POSTOS PESQUISADOS',
 'UNIDADE DE MEDIDA',
 'PREÇO MÉDIO REVENDA',
 'DESVIO PADRÃO REVENDA',
 'PREÇO MÍNIMO REVENDA',
 'PREÇO MÁXIMO REVENDA',
 'MARGEM MÉDIA REVENDA',
 'COEF DE VARIAÇÃO REVENDA',
 'PREÇO MÉDIO DISTRIBUIÇÃO',
 'DESVIO PADRÃO DISTRIBUIÇÃO',
 'PREÇO MÍNIMO DISTRIBUIÇÃO',
 'PREÇO MÁXIMO DISTRIBUIÇÃO',
 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
 'MÊS',
 'ANO']

In [5]:
new_column_names = [
    'analysis_first_day',
    'analysis_last_day',
    'macro_region',
    'state',
    'product_kind',
    'no_gas_stations_analyzed',
    'measurement_unit',
    'avg_price',
    'std',
    'min_price_observed',
    'max_price_observed',
    'mean_price_margin',
    'coefficient_of_variation',
    'mean_distribution_price',
    'distribution_std',
    'distribution_min_price',
    'distribution_max_price',
    'distribution_coefficient_of_variation',
    'month',
    'year'
]

df.columns = new_column_names
list(df.columns)

['analysis_first_day',
 'analysis_last_day',
 'macro_region',
 'state',
 'product_kind',
 'no_gas_stations_analyzed',
 'measurement_unit',
 'avg_price',
 'std',
 'min_price_observed',
 'max_price_observed',
 'mean_price_margin',
 'coefficient_of_variation',
 'mean_distribution_price',
 'distribution_std',
 'distribution_min_price',
 'distribution_max_price',
 'distribution_coefficient_of_variation',
 'month',
 'year']

In [6]:
df.head()

,analysis_first_day,analysis_last_day,macro_region,state,product_kind,no_gas_stations_analyzed,measurement_unit,avg_price,std,min_price_observed,max_price_observed,mean_price_margin,coefficient_of_variation,mean_distribution_price,distribution_std,distribution_min_price,distribution_max_price,distribution_coefficient_of_variation,month,year
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

## Check for any null value

In [7]:
df.isnull().sum()

analysis_first_day                       0
analysis_last_day                        0
macro_region                             0
state                                    0
product_kind                             0
no_gas_stations_analyzed                 0
measurement_unit                         0
avg_price                                0
std                                      0
min_price_observed                       0
max_price_observed                       0
mean_price_margin                        0
coefficient_of_variation                 0
mean_distribution_price                  0
distribution_std                         0
distribution_min_price                   0
distribution_max_price                   0
distribution_coefficient_of_variation    0
month                                    0
year                                     0
dtype: int64

We have no null value so no need to worry about it 'yet'.

## Number of Rows and Columns

In [8]:
print('Number of rows:   ', df.shape[0])
print('Number of Columns:', df.shape[1])

Number of rows:    106823
Number of Columns: 20

## Let's check the summary statistics

In [9]:
df.describe()

,no_gas_stations_analyzed,avg_price,std,min_price_observed,max_price_observed,coefficient_of_variation,month,year
count,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000,106823.000000
mean,233.770976,10.870780,0.657227,9.416038,12.537731,0.045418,6.484006,2011.802271
std,403.282519,17.752533,1.349169,15.092193,20.841497,0.025066,3.443391,4.391530
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.000000,1.000000,2004.000000
25%,42.000000,2.072000,0.072000,1.900000,2.310000,0.029000,4.000000,2008.000000
50%,104.000000,2.718000,0.114000,2.510000,2.999000,0.041000,6.000000,2012.000000
75%,243.000000,3.752000,0.191000,3.499000,4.150000,0.058000,9.000000,2016.000000
max,4167.000000,99.357000,10.748000,90.000000,120.000000,0.395000,12.000000,2019.000000

We can see that the price column is right skewed because mean is greater than the 50% quartile (or median). This information may come in handy later.

## Datatypes

In [10]:
df.dtypes.to_frame(name='Data Type')

                                            Data Type
analysis_first_day                     datetime64[ns]
analysis_last_day                      datetime64[ns]
macro_region                                   object
state                                          object
product_kind                                   object
no_gas_stations_analyzed                        int64
measurement_unit                               object
avg_price                                     float64
std                                           float64
min_price_observed                            float64
max_price_observed                            float64
mean_price_margin                              object
coefficient_of_variation                      float64
mean_distribution_price                        object
distribution_std                               object
distribution_min_price                         object
distribution_max_price                         object
distribution_coefficient_of_variation          object
month                                           int64
year                                            int64

Let's check some of the datatypes which are object and should be numerical.

In [11]:
check_df = (df.dtypes == np.object).reset_index()
check_df[check_df[0] == True]['index'].reset_index().drop('level_0', axis=1)

                                   index
0                           macro_region
1                                  state
2                           product_kind
3                       measurement_unit
4                      mean_price_margin
5                mean_distribution_price
6                       distribution_std
7                 distribution_min_price
8                 distribution_max_price
9  distribution_coefficient_of_variation

Data types of the following columns should be numerical but are of type object:<br>
* mean_price_margin
* mean_distribution_price
* distribution_std
* distribution_min_price
* distribution_max_price
* distribution_coefficient_of_variation

### Dealing with the column: mean_price_margin

Let's first check the unique values.

In [12]:
df.mean_price_margin.unique()

array(['0.463', '0.399', '0.419', ..., '1.007', '0.876', '1.179'],
      dtype=object)

Now, let's check if there is a value other than floats.

In [13]:
def is_float(n):
    try:
        float(n)
        return True
    except ValueError:
        return False

In [14]:
df.mean_price_margin[~df.mean_price_margin.apply(lambda x: is_float(x))].unique()

array(['-'], dtype=object)

Let's check the ratio of "-" appearing in the table as compared to the all rows to decide how to replace it.

In [15]:
appearance = df.mean_price_margin[~df.mean_price_margin.apply(lambda x: is_float(x))].value_counts().iloc[0]
total_entries = df.shape[0]
perc_of_occurance = (appearance / total_entries) * 100

print('Number of times "-" appeared:', appearance)
print('Total number of entries:     ', total_entries)
print('Percentage of occurance:     ', round(perc_of_occurance, 2), '%')

Number of times "-" appeared: 3431
Total number of entries:      106823
Percentage of occurance:      3.21 %

Since, that is about only 3.2 percent of the total data. We might as well delete these entire rows instead of replacing them with any value.

In [16]:
df = df[df.mean_price_margin.apply(lambda x: is_float(x))]

Now, converting all the values of this column into float.

In [17]:
df.mean_price_margin = df.mean_price_margin.apply(lambda x: float(x))
df.mean_price_margin.dtypes

dtype('float64')

### Dealing with the column: mean_distribution_price

Let's first check the unique values.

In [18]:
df.mean_distribution_price.unique()

array(['0.825', '0.763', '0.97', ..., '49.214', '54.078', '57.05'],
      dtype=object)

Let's check if there are any values other than floats.

In [19]:
df.mean_distribution_price[~df.mean_distribution_price.apply(lambda x: is_float(x))].unique()

array([], dtype=object)

There are no values other than floats (in string representation). Converting all the string representations of floats to actual floats.

In [20]:
df.mean_distribution_price = df.mean_distribution_price.apply(lambda x: float(x))
df.mean_distribution_price.dtypes

dtype('float64')

### Dealing with the column: distribution_std

Let's first check the unique values.

In [21]:
df.distribution_std.unique()

array(['0.11', '0.088', '0.095', ..., '5.254', '6.52', '6.906'],
      dtype=object)

Let's check if values other than floats exist in the strings.

In [22]:
df.distribution_std[~df.distribution_std.apply(lambda x: is_float(x))].unique()

array([], dtype=object)

There are no values other than floats (in string representation). Converting all the string representations of floats to actual floats.

In [23]:
df.distribution_std = df.distribution_std.apply(lambda x: float(x))
df.distribution_std.dtypes

dtype('float64')

### Dealing with the column: distribution_min_price

Let's first check the unique values.

In [24]:
df.distribution_min_price.unique()

array(['0.4201', '0.5013', '0.5614', ..., '50.68', '61.92', '40.19'],
      dtype=object)

Now, let's check if any value other than float exists.

In [25]:
df.distribution_min_price[~df.distribution_min_price.apply(lambda x: is_float(x))].unique()

array([], dtype=object)

No value other than float exists. Let's convert the values to actual floats.

In [26]:
df.distribution_min_price = df.distribution_min_price.apply(lambda x: float(x))
df.distribution_min_price.dtypes

dtype('float64')

### Dealing with the column: distribution_max_price

Let's check the unique values.

In [27]:
df.distribution_max_price.unique()

array(['0.9666', '1.05', '1.161', ..., '4.3999', '4.095', '3.825'],
      dtype=object)

Now, let's check if any value other than float exists.

In [28]:
df.distribution_max_price[~df.distribution_max_price.apply(lambda x: is_float(x))].unique()

array([], dtype=object)

Converting the values to float.

In [29]:
df.distribution_max_price = df.distribution_max_price.apply(lambda x: float(x))
df.distribution_min_price.dtypes

dtype('float64')

### Dealing with the column: distribution_coefficient_of_variation

Checking the unique values.

In [30]:
df.distribution_coefficient_of_variation.unique()

array(['0.133', '0.115', '0.098', '0.143', '0.082', '0.134', '0.062',
       '0.077', '0.096', '0.072', '0.083', '0.053', '0.153', '0.122',
       '0.06', '0.172', '0.147', '0.087', '0.168', '0.108', '0.151',
       '0.22', '0.157', '0.101', '0.119', '0.135', '0.116', '0.079',
       '0.139', '0.07', '0.054', '0.095', '0.084', '0.085', '0.149',
       '0.035', '0.059', '0.105', '0.217', '0.15', '0.123', '0.167',
       '0.111', '0.148', '0.128', '0.058', '0.088', '0.063', '0.162',
       '0.04', '0.156', '0.12', '0.08', '0.097', '0.141', '0.202',
       '0.103', '0.099', '0.164', '0.118', '0.081', '0.125', '0.091',
       '0.078', '0.106', '0.159', '0.049', '0.066', '0.126', '0.052',
       '0.221', '0.112', '0.131', '0.107', '0.138', '0.144', '0.073',
       '0.11', '0.086', '0.068', '0.136', '0.074', '0.14', '0.104',
       '0.17', '0.161', '0.093', '0.155', '0.094', '0.113', '0.064',
       '0.13', '0.109', '0.21', '0.16', '0.09', '0.163', '0.069', '0.129',
       '0.212', '0.092', '0.1', '0.179', '0.056', '0.127', '0.207',
       '0.117', '0.146', '0.193', '0.102', '0.067', '0.057', '0.185',
       '0.075', '0.174', '0.121', '0.152', '0.183', '0.132', '0.137',
       '0.114', '0.065', '0.176', '0.166', '0.089', '0.05', '0.021',
       '0.124', '0.171', '0.076', '0.071', '0.154', '0.181', '0.158',
       '0.177', '0.182', '0.175', '0.044', '0.184', '0.051', '0.055',
       '0.045', '0.195', '0.047', '0.036', '0.061', '0.145', '0.037',
       '0.19', '0.005', '0.201', '0.042', '0.038', '0.191', '0.048',
       '0.18', '0.178', '0.186', '0.165', '0.173', '0.043', '0.033',
       '0.03', '0.039', '0.032', '0.027', '0.01', '0.029', '0.034',
       '0.022', '0.028', '0.031', '0.046', '0.024', '0.008', '0.041',
       '0.018', '0.011', '0.025', '0.023', '0.014', '0.026', '0', '0.142',
       '0.007', '0.004', '0.003', '0.017', '0.012', '0.019', '0.009',
       '0.001', '0.013', '0.015', '0.02', '0.006', '0.002', '0.016',
       '0.2', '0.251', '0.368', '0.187', '0.189', '0.205', '0.204',
       '0.194', '0.196', '0.24', '0.224', '0.208', '0.211', '0.197',
       '0.222', '0.188', '0.219', '0.227', '0.244', '0.223', '0.225',
       '0.263', '0.276', '0.247', '0.241', '0.228', '0.198', '0.214',
       '0.236', '0.239', '0.216', '0.203', '0.206', '0.169', '0.209',
       '0.213', '0.192', '0.215', '0.238', '0.218', '0.226', '0.229',
       '0.234', '0.199', '0.233', '0.232', '0.317', '0.297', '0.243',
       '0.258', '0.231', '0.29', '0.248', '0.32', '0.23', '0.272',
       '0.267', '0.275', '0.259', '0.309', '0.25', '0.358', '0.237',
       '0.294', '0.421', '0.463', '0.5', '0.314', '0.516', '0.277',
       '0.609', '0.644', '0.603', '0.592', '0.55', '0.499', '0.578',
       '0.56', '0.45', '0.579', '0.623', '0.78', '0.249', '0.571',
       '0.261', '0.26', '0.418', '0.466', '0.468', '0.586', '0.246',
       '0.291', '0.507', '0.287', '0.423', '0.405', '0.424', '0.264',
       '0.425', '0.401', '0.27', '0.372', '0.344', '0.333', '0.351',
       '0.242', '0.353', '0.281', '0.282', '0.269', '0.256', '0.373',
       '0.369', '0.39', '0.365', '0.35', '0.352', '0.334', '0.496',
       '0.408', '0.446', '0.448', '0.435', '0.464', '0.453', '0.437',
       '0.439', '0.299', '0.34', '0.43', '0.608', '0.493', '0.33',
       '0.345', '0.268', '0.235', '0.254', '0.284', '0.262', '0.362',
       '0.426', '0.337', '0.528', '0.301', '0.384', '0.36', '0.313',
       '0.325', '0.293', '0.328', '0.305', '0.31', '0.245', '0.279',
       '0.255', '0.387', '0.307', '0.302', '0.321', '0.253', '0.271',
       '0.265', '0.319', '0.375', '0.457', '0.449', '0.471', '0.338',
       '0.304', '0.415', '0.442', '0.292', '0.274', '0.44', '0.323',
       '0.525', '0.473', '0.419', '0.339', '0.391', '0.273', '0.4',
       '0.266', '0.394', '0.395', '0.285', '0.407', '0.393', '0.286',
       '0.331', '0.28', '0.278', '0.42', '0.318', '0.444', '0.283',
       '0.289', '0.252'], dtype=object)

Checking if any value other than float exists.

In [31]:
df.distribution_coefficient_of_variation[~df.distribution_coefficient_of_variation.apply(lambda x: is_float(x))]

Series([], Name: distribution_coefficient_of_variation, dtype: object)

Converting the values to float.

In [32]:
df.distribution_coefficient_of_variation = df.distribution_coefficient_of_variation.apply(lambda x: float(x))
df.distribution_coefficient_of_variation.dtypes

dtype('float64')

### Checking the datatypes for the final time.

In [33]:
df.dtypes

analysis_first_day                       datetime64[ns]
analysis_last_day                        datetime64[ns]
macro_region                                     object
state                                            object
product_kind                                     object
no_gas_stations_analyzed                          int64
measurement_unit                                 object
avg_price                                       float64
std                                             float64
min_price_observed                              float64
max_price_observed                              float64
mean_price_margin                               float64
coefficient_of_variation                        float64
mean_distribution_price                         float64
distribution_std                                float64
distribution_min_price                          float64
distribution_max_price                          float64
distribution_coefficient_of_variation           float64
month                                             int64
year                                              int64
dtype: object

Let's look at the first two columns "analysis_first_day" & "analysis_last_day". We can engineer a new feature which would be the number of days the prices are analyzed. Let's do this.

In [34]:
# Defining the function to get the number of days the analysis is done
def get_num_days_analysis_done(a, b):
    return (a - b).days


# Making a new column named as 'num_of_days_analysis_done'
df['num_of_days_analysis_done'] = df[['analysis_first_day', 'analysis_last_day']].apply(
    lambda x: get_num_days_analysis_done(x.analysis_last_day, x.analysis_first_day), axis=1)

# Deleting the first two columns because we don't need them anymore
df.drop(['analysis_first_day', 'analysis_last_day'], axis=1, inplace=True)

# Checking the first five rows
df.head()

,macro_region,state,product_kind,no_gas_stations_analyzed,measurement_unit,avg_price,std,min_price_observed,max_price_observed,mean_price_margin,coefficient_of_variation,mean_distribution_price,distribution_std,distribution_min_price,distribution_max_price,distribution_coefficient_of_variation,month,year,num_of_days_analysis_done
0,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,5,2004,6
1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,5,2004,6
2,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,5,2004,6
3,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,5,2004,6
4,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,5,2004,6

Now, let's check if 6 is the only number of days the prices are analyzed or there may be the case that some gas prices are analyzed for more than one day, which would cause anomaly in the data.

In [35]:
print('Unique number of  days the gas prices are analyzed:', list(df.num_of_days_analysis_done.unique()))

Unique number of  days the gas prices are analyzed: [6]

Alright, so we can say that every entry is analyzed only for 6 days which is good.

### Dealing with month and year

We can see that the 'month' and 'year' column are of type integer. Let's merge them and make a DateTime object.

In [36]:
# Checking the first five rows once again to get the idea.
df.head()

,macro_region,state,product_kind,no_gas_stations_analyzed,measurement_unit,avg_price,std,min_price_observed,max_price_observed,mean_price_margin,coefficient_of_variation,mean_distribution_price,distribution_std,distribution_min_price,distribution_max_price,distribution_coefficient_of_variation,month,year,num_of_days_analysis_done
0,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,5,2004,6
1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,5,2004,6
2,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,5,2004,6
3,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,5,2004,6
4,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,5,2004,6

In [37]:
print('Months:', sorted(df.month.unique()))
print('Years:', sorted(df.year.unique()))

Months: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Years: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

Let's merge year and month and make a new column named as date.

In [38]:
df['date'] = pd.to_datetime(df[['year', 'month']].assign(Day=1))
df.head()

,macro_region,state,product_kind,no_gas_stations_analyzed,measurement_unit,avg_price,std,min_price_observed,max_price_observed,mean_price_margin,coefficient_of_variation,mean_distribution_price,distribution_std,distribution_min_price,distribution_max_price,distribution_coefficient_of_variation,month,year,num_of_days_analysis_done,date
0,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,5,2004,6,2004-05-01
1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,5,2004,6,2004-05-01
2,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,5,2004,6,2004-05-01
3,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,5,2004,6,2004-05-01
4,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,5,2004,6,2004-05-01

Now, we'll remove the 'year' and 'month' columns since we don't need them anymore.

In [39]:
df.drop(['year', 'month'], axis=1, inplace=True)
df.head()

,macro_region,state,product_kind,no_gas_stations_analyzed,measurement_unit,avg_price,std,min_price_observed,max_price_observed,mean_price_margin,coefficient_of_variation,mean_distribution_price,distribution_std,distribution_min_price,distribution_max_price,distribution_coefficient_of_variation,num_of_days_analysis_done,date
0,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,6,2004-05-01
1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,6,2004-05-01
2,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,6,2004-05-01
3,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,6,2004-05-01
4,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,6,2004-05-01

In [40]:
df.dtypes.to_frame('Data Type')

                                            Data Type
macro_region                                   object
state                                          object
product_kind                                   object
no_gas_stations_analyzed                        int64
measurement_unit                               object
avg_price                                     float64
std                                           float64
min_price_observed                            float64
max_price_observed                            float64
mean_price_margin                             float64
coefficient_of_variation                      float64
mean_distribution_price                       float64
distribution_std                              float64
distribution_min_price                        float64
distribution_max_price                        float64
distribution_coefficient_of_variation         float64
num_of_days_analysis_done                       int64
date                                   datetime64[ns]

#### Hurrayyy

Now that our data is cleaned and some new features are engineered. It's time for some **Exploratory Data Analysis** to find the answers to the questions asked earlier.

# Answering the questions

Let's perform EDA to find the answer to the given three questions:<br>
<ol>
<li>How different regions of Brazil saw their gas prices change?</li>
<li>Within a region, which states increased more their prices?</li>
<li>Which states are the cheapest (or most expensive) for different types of fuels?</li>
</ol>

First let's get the rows of the product type gases (GLV and GNV)

In [42]:
df = df[(df.product_kind == 'GLP') | (df.product_kind == 'GNV')]
df.product_kind.nunique()

2

In [43]:
df.head()

,macro_region,state,product_kind,no_gas_stations_analyzed,measurement_unit,avg_price,std,min_price_observed,max_price_observed,mean_price_margin,coefficient_of_variation,mean_distribution_price,distribution_std,distribution_min_price,distribution_max_price,distribution_coefficient_of_variation,num_of_days_analysis_done,date
24132,CENTRO OESTE,DISTRITO FEDERAL,GLP,44,R$/13Kg,33.989,0.803,32.0,36.0,6.824,0.024,27.165,3.062,25.0000,29.33,0.113,6,2004-05-01
24133,CENTRO OESTE,GOIAS,GLP,372,R$/13Kg,30.335,1.841,27.0,36.0,5.328,0.061,25.007,1.756,19.4983,29.00,0.070,6,2004-05-01
24134,CENTRO OESTE,MATO GROSSO,GLP,97,R$/13Kg,38.568,2.045,33.0,44.0,5.713,0.053,32.855,2.296,27.7500,38.00,0.070,6,2004-05-01
24135,CENTRO OESTE,MATO GROSSO DO SUL,GLP,109,R$/13Kg,33.388,2.308,29.0,39.0,4.585,0.069,28.803,1.764,24.0000,33.00,0.061,6,2004-05-01
24136,NORDESTE,ALAGOAS,GLP,22,R$/13Kg,32.391,1.357,27.9,33.0,7.641,0.042,24.750,0.354,24.5000,25.00,0.014,6,2004-05-01

In [45]:
df.shape

(31321, 18)

Before going any further, let's check the summary statistics.

In [46]:
df.describe()

,no_gas_stations_analyzed,avg_price,std,min_price_observed,max_price_observed,mean_price_margin,coefficient_of_variation,mean_distribution_price,distribution_std,distribution_min_price,distribution_max_price,distribution_coefficient_of_variation,num_of_days_analysis_done
count,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.000000,31321.0
mean,185.662431,29.472778,1.906098,25.183896,34.280257,6.567827,0.055471,22.904952,1.684685,19.483825,26.615389,0.080526,6.0
std,319.597978,23.029078,1.929780,19.588634,27.272910,6.008519,0.031355,17.740372,1.842555,15.508682,20.778953,0.056770,0.0
min,1.000000,0.975000,0.000000,0.659000,0.999000,0.001000,0.000000,0.506000,0.000000,0.363200,0.599200,0.000000,6.0
25%,24.000000,1.970000,0.111000,1.870000,2.299000,0.544000,0.034000,1.471000,0.139000,1.372000,1.660100,0.043000,6.0
50%,81.000000,34.043000,1.632000,29.990000,39.000000,6.002000,0.055000,27.243000,1.354000,22.590000,31.650000,0.078000,6.0
75%,202.000000,42.915000,2.809000,37.000000,50.000000,9.773000,0.076000,34.219000,2.571000,28.960000,39.000000,0.110000,6.0
max,2165.000000,99.357000,10.748000,90.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000,6.0

Statistics of categorical values.

In [47]:
df.describe(include='O')

       macro_region  state product_kind measurement_unit
count         31321  31321        31321            31321
unique            5     27            2                2
top        NORDESTE  BAHIA          GLP          R$/13Kg
freq          11586   1570        20315            20315

## Question 1: How different regions of Brazil saw their gas prices change?

Let's check the price change in region W.R.T year.

In [ ]:
plt.figure(figsize=(20, 10))
sns.lineplot(x='year', y='avg_price', data=df, hue='macro_region')
plt.ylabel('Average Price', fontsize=18)
plt.xlabel('Years', fontsize=18)
plt.title('Region-wise gas price change', fontsize=20)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)

From the above graph, we incur that from 2004 to 2005, the trend appears to be flat and a little increasing for SUL Region. From 2005 to 2012, there is an increasing trend in gas prices, except for the NORDESTE region, which shows decline. From 2012 to 2013, prices started to decline. After 2013 and onwards, we can see that prices have increased greatly.

## Question 2: Within a region, which states increased more their prices?

In [ ]:
df_region_state = df.groupby(['macro_region', 'state'])['avg_price'].median().to_frame()
df_region_state

In [ ]:
df_region_state = df_region_state.reset_index()

for region in list(df_region_state.macro_region.unique()):
    df_temp = df_region_state[df_region_state.macro_region == region][['state', 'avg_price']]
    region_name = region
    state_name = df_temp[df_temp.avg_price == df_temp.avg_price.max()]['state'].iloc[0]
    price = df_temp.avg_price.max()
    print('For region,', region, 'the state,', state_name, 'has increased most in their prices. Average price:', price)
    print()  # Adding a line-space

## Question 3: Which states are the cheapest (or most expensive) for different types of fuels?

Let's first check the different kinds of fuel we have.

In [ ]:
list(df.product_kind.unique())

Now, let's check how different states are cheapest or most expensive w.r.t the type of fuel.

In [ ]:
sns.catplot(kind='bar', x='avg_price', y='state', col='product_kind', col_wrap=2, data=df)